---
# Install asdf plugins for language support

- name: Install asdf plugins
  shell: |
    . {{ asdf_source_path }}
    asdf plugin add {{ item }}
  args:
    executable: /bin/bash
  loop: "{{ asdf_plugins }}"
  register: plugin_result
  failed_when:
    - plugin_result.rc != 0
    - "'already added' not in plugin_result.stderr"
  changed_when: "'already added' not in plugin_result.stderr"
  environment:
    HOME: "{{ ansible_env.HOME }}"
