---

- include_tasks: setup-debian.yml
  when: ansible_os_family == 'Debian'

- name: Add nodejs support
  command: npm install -g neovim

- name: Add Ruby support
  shell: 'gem install neovim'
  environment:
    PATH: "{{ ansible_env.HOME }}/.asdf/shims:{{ ansible_env.PATH }}"

- name: Create config folder
  file:
    path: "{{ ansible_env.HOME }}/.config/"
    state: directory

- name: Create vim config folder
  file:
    path: "{{ ansible_env.HOME }}/.vim"
    state: directory

- name: link .vim to neovim folder
  file:
    src: "{{ ansible_env.HOME }}/.vim"
    dest: "{{ ansible_env.HOME }}/.config/nvim"
    state: link

- name: link .vimrc to neovim file
  file:
    src: "{{ ansible_env.HOME }}/.vimrc"
    dest: "{{ ansible_env.HOME }}/.config/nvim/init.vim"
    state: link
    force: yes
