- name: Install packages
  become: true
  apt:
    update_cache: yes
    name: [
      'neovim',
      'python3-neovim'
    ]

- name: update alternatives
  become: true
  alternatives:
    name: "{{ item }}"
    path: /usr/bin/nvim
    priority: 60
  with_items:
    - editor

- name: Global conf node pt1
  file:
    path: "{{ ansible_facts["env"]["HOME"] }}/.npm-global"
    state: directory

- name: Config node to install global
  shell: npm config set prefix '{{ ansible_facts["env"]["HOME"] }}/.npm-global'

- name: add folder to path
  lineinfile:
    dest: "{{ ansible_facts["env"]["HOME"] }}/.bashrc"
    state: present
    create: true
    regexp: '^export PATH={{ ansible_facts["env"]["HOME"] }}/.npm-global'
    line: 'export PATH={{ ansible_facts["env"]["HOME"] }}/.npm-global/bin:$PATH'
